Repository CommunityStream-io/flock: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2etests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto

flags:
  unittests:
    paths:
      - projects/shared/src/
    carryforward: true
  e2etests:
    paths:
      - projects/flock-mirage/src/
      - projects/shared/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes
  hide_comment: false
  hide_project_coverage: false
  hide_patch_coverage: false

github_checks:
  annotations: true

Critical fixes: File upload resolver and CSP headers
  vercel.json
Due: none

fix: resolve Vercel Analytics type conflict
  projects/shared/src/lib/services/web-analytics.service.ts
Due: unittests, e2etests

fix: add missing vercel-logger module
  api/lib/vercel-logger.ts
Due: none

fix: update CSP to allow Rokt domains
  vercel.json
Due: none

fix: increase Vercel upload limits to handle larger files
  api/upload.ts
  vercel.json
Due: none

feat: add comprehensive error handling for file uploads
  projects/flock-murmur/src/app/service/murmur-file-processor/murmur-file-processor.ts
  projects/flock-murmur/src/styles.scss
  projects/shared/src/lib/route/resolver/extract-archive/extract-archive-resolver.ts
Due: unittests, e2etests

feat: implement client-side multipart uploads with Vercel Blob
  api/upload-metadata.ts
  api/upload.ts
  projects/flock-murmur/src/app/service/murmur-file-processor/murmur-file-processor.ts
  projects/flock-murmur/src/app/services/api.service.ts
  vercel.json
Due: none

security: implement hybrid approach for large file uploads with security measures
  api/migrate.ts
  api/upload-metadata.ts
  api/upload.ts
  projects/flock-murmur/src/app/services/api.service.ts
Due: none

Will not use vercel because large file storage that private does not exist
  api/upload.ts
Due: none

Remove Vercel dependencies from flock-murmur
  VERCEL_IMPLEMENTATION.md
  api/auth-bluesky.ts
  api/lib/bluesky-migrator.ts
  api/lib/instagram-processor.ts
  api/lib/vercel-logger.ts
  api/migrate.ts
  api/progress.ts
  api/tsconfig.json
  api/upload-metadata.ts
  api/upload.ts
  docs/VERCEL_ARCHITECTURE.md
  docs/VERCEL_BLOB_STORAGE.md
  docs/VERCEL_DEPLOYMENT.md
  package-lock.json
  package.json
  projects/flock-murmur/API_INTEGRATION.md
  projects/flock-murmur/ROUTES_AND_SERVICES.md
  projects/flock-murmur/src/app/service/bluesky/bluesky.ts
  projects/flock-murmur/src/app/service/murmur-file-processor/murmur-file-processor.ts
  projects/flock-murmur/src/app/service/murmur-migration/murmur-migration.ts
  projects/flock-murmur/src/app/services/api.service.ts
  projects/flock-murmur/src/environments/environment.prod.ts
  projects/flock-murmur/src/main.ts
  vercel.json
Due: none

fix: resolve Electron e2e testing infrastructure issues
  docs/CROSS_PLATFORM_E2E_IMPLEMENTATION.md
  features/electron/basic-app-verification.feature
  features/pageobjects/landing.page.ts
  features/step-definitions/electron/ipc.steps.ts
  wdio.electron.linux.conf.ts
  wdio.electron.macos.conf.ts
  wdio.electron.windows.conf.ts
  wdio.web.conf.ts
Due: none

fix: optimize cross-platform E2E workflow
  .github/workflows/e2e-cross-platform.yml
  package.json
Due: none

fix: use npx wdio in CI scripts to resolve ENOENT error
  package.json
Due: none

refactor: disable Vercel Analytics in Web Analytics Service
  projects/shared/src/lib/services/web-analytics.service.ts
Due: unittests, e2etests

fix: resolve macOS ARM build failure with CI-specific packaging scripts
  .github/workflows/e2e-cross-platform.yml
  package.json
Due: none

fix: add clean step to CI packaging scripts
  package.json
Due: none

fix: Remove clean:electron from CI packaging scripts
  package.json
Due: none

fix: Disable npmRebuild in electron-builder configs
  electron-builder-linux.json
  electron-builder-mac-arm.json
  electron-builder-mac-intel.json
  electron-builder-win.json
Due: none

fix: Disable electron-builder publishing in CI configs
  electron-builder-linux.json
  electron-builder-mac-arm.json
  electron-builder-mac-intel.json
  electron-builder-win.json
Due: none

fix: Disable buildDependenciesFromSource for macOS ARM, Intel, and Linux
  electron-builder-linux.json
  electron-builder-mac-arm.json
  electron-builder-mac-intel.json
Due: none

fix: Add --dir flag to all platform CI scripts
  package.json
Due: none

fix: Correct Linux verification script to look for 'flock' binary
  .github/workflows/e2e-cross-platform.yml
Due: none

fix: Correct Linux WebdriverIO config and remove continue-on-error masking
  .github/workflows/e2e-cross-platform.yml
  wdio.electron.linux.conf.ts
Due: none

focus: Update WebdriverIO configs to only run basic-app-verification.feature
  wdio.electron.linux.conf.ts
  wdio.electron.macos.conf.ts
  wdio.electron.windows.conf.ts
Due: none

fix: Add missing expect import to landing.ts step definitions
  features/step-definitions/landing.ts
Due: none

debug: Enable info-level logging for Linux E2E tests
  wdio.electron.linux.conf.ts
Due: none

chore: Update Electron configuration and improve test setup
  electron-builder.config.json
  features/electron/basic-app-verification.feature
  tsconfig.e2e.json
  wdio.electron.conf.ts
  wdio.electron.linux.conf.ts
  wdio.electron.macos.conf.ts
Due: none

fix: Correct Linux WebdriverIO electron service configuration
  wdio.electron.linux.conf.ts
Due: none

fix tests
  projects/shared/src/lib/route/resolver/extract-archive/extract-archive-resolver.spec.ts
Due: unittests, e2etests

Increase flock mirage code coverage
  projects/flock-mirage/src/app/service/bluesky.spec.ts
  projects/flock-mirage/src/app/service/bluesky.ts
  projects/flock-mirage/src/app/service/console-logger.spec.ts
  projects/flock-mirage/src/app/service/file-processor.spec.ts
Due: e2etests

increase coverage for native
  projects/flock-native/src/app/resolvers/migrate-run.resolver.spec.ts
  projects/flock-native/src/app/service/cli/cli.service.spec.ts
Due: none

lint fix
  projects/shared/src/lib/services/interfaces/analytics.ts
  projects/shared/src/lib/services/web-analytics.service.ts
Due: unittests, e2etests

Enhance CI workflow and add comprehensive unit tests for StepRoute and Migration services
  .github/workflows/ci.yml
  projects/shared/src/lib/route/resolver/migrate-run-resolver.spec.ts
  projects/shared/src/lib/route/step-route.spec.ts
  projects/shared/src/lib/services/web-analytics.service.spec.ts
Due: unittests, e2etests

30% coverage to go
  projects/flock-mirage/src/app/service/bluesky.spec.ts
  projects/shared/src/lib/route/guards/auth-deactivate-guard-bdd.spec.ts
  projects/shared/src/lib/route/resolver/extract-archive/extract-archive-resolver.spec.ts
  projects/shared/src/lib/services/bluesky.spec.ts
  projects/shared/src/lib/services/migration.spec.ts
  projects/shared/src/lib/services/migration.ts
  projects/shared/src/lib/services/splash-screen-loading.spec.ts
  projects/shared/src/lib/steps/auth/auth.spec.ts
  projects/shared/src/lib/steps/config/config.spec.ts
  projects/shared/src/lib/steps/upload/upload.spec.ts
Due: unittests, e2etests

Enhance unit tests for authentication and Sentry logger services
  projects/shared/src/lib/route/guards/auth-valid-guard.spec.ts
  projects/shared/src/lib/services/sentry-logger.spec.ts
  projects/shared/src/lib/services/sentry-logger.ts
  projects/shared/src/lib/step-navigation/step-navigation.spec.ts
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.spec.ts
Due: unittests, e2etests

Refactor unit tests for FileUploadControl to BDD-style
  projects/shared/src/lib/controls/file-upload-control/file-upload-control.spec.ts
Due: unittests, e2etests

Enhance Sentry Logger configuration and unit tests
  .gitignore
  projects/shared/src/lib/services/sentry-logger.spec.ts
  projects/shared/src/lib/services/sentry-logger.ts
Due: unittests, e2etests

Refactor unit tests for header and resolver components to BDD-style
  projects/shared/src/lib/header/header.spec.ts
  projects/shared/src/lib/route/resolver/extract-archive/extract-archive-resolver.spec.ts
  projects/shared/src/lib/step-navigation/step-navigation.spec.ts
  projects/shared/src/lib/step-navigation/step-navigation.ts
  projects/shared/src/lib/steps/complete/completion-summary/completion-summary.spec.ts
Due: unittests, e2etests

Add BDD-style tests for route key generation scenarios
  projects/shared/src/lib/route/route-reuse.spec.ts
Due: unittests, e2etests
