Repository CommunityStream-io/flock: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2etests

Consolidate WebdriverIO configs and remove ChromeDriver service
  .github/workflows/ci.yml
  Dockerfile.test
  package.json
  wdio.conf.ts
  wdio.docker.conf.ts
Due: none

Fix shell context issue in CI workflow
  .github/workflows/ci.yml
Due: none

Remove /app directory from Docker image and simplify CI workflow
  .github/workflows/ci.yml
  Dockerfile.test
  angular.json
  projects/flock-mirage/src/app/app.config.ts
  projects/flock-mirage/src/app/service/file-logger.ts
Due: e2etests

Remove unnecessary Chrome environment variables from Dockerfile
  Dockerfile.test
Due: none

Fix YAML syntax error in CI workflow
  .github/workflows/ci.yml
Due: none

Update Dockerfile and dependencies for improved E2E testing environment
  Dockerfile.test
  package-lock.json
  package.json
  wdio.conf.ts
Due: none

Fix CI workflow: run tests from correct working directory in container
  .github/workflows/ci.yml
  Dockerfile.base
  Dockerfile.test
Due: none

Optimize Docker setup: remove unnecessary root user complexity
  Dockerfile.base
  Dockerfile.test
Due: none

Test CI pipeline with optimized Docker setup
  Dockerfile.test
Due: none

Fix CI: build base image before test image
  .github/workflows/ci.yml
Due: none

Fix CI: use multi-stage Docker build
  .github/workflows/ci.yml
  Dockerfile.test
Due: none

Add separate build steps for base and test images in CI
  .github/workflows/ci.yml
  Dockerfile.test
Due: none

Fix CI: use multi-stage Docker build in single step
  .github/workflows/ci.yml
  Dockerfile.test
Due: none

Refactor config styles and help dialog for improved clarity and usability
  projects/shared/src/lib/steps/config/config.css
  projects/shared/src/lib/steps/config/config.html
  projects/shared/src/lib/steps/config/config.ts
  projects/shared/src/lib/steps/config/help-dialog/help-dialog.css
  projects/shared/src/lib/steps/config/help-dialog/help-dialog.html
  projects/shared/src/lib/steps/config/help-dialog/help-dialog.ts
Due: unittests, e2etests

Refactor app and help dialog tests for improved clarity and accuracy
  projects/flock-mirage/src/app/app.spec.ts
  projects/shared/src/lib/steps/config/help-dialog/help-dialog.spec.ts
Due: unittests, e2etests

Refactor form state management tests for clarity and accuracy
  projects/shared/src/lib/steps/config/config.spec.ts
Due: unittests, e2etests

Add preflight-summary and progress-panel components
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.css
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.html
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.spec.ts
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.ts
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.css
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.html
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.spec.ts
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.ts
Due: unittests, e2etests

Enhance migration step with preflight summary and progress panel components
  projects/shared/src/lib/steps/migrate/migrate.html
  projects/shared/src/lib/steps/migrate/migrate.ts
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.html
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.ts
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.html
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.ts
  projects/shared/src/lib/steps/upload/upload.ts
Due: unittests, e2etests

Enhance splash screen loading service and component integration
  projects/shared/src/lib/services/interfaces/loading.ts
  projects/shared/src/lib/services/splash-screen-loading.ts
  projects/shared/src/lib/splash-screen/splash-screen.html
  projects/shared/src/lib/splash-screen/splash-screen.ts
Due: unittests, e2etests

Implement migration functionality with progress tracking and UI updates
  projects/shared/src/lib/services/migration.ts
  projects/shared/src/lib/steps/migrate/migrate.html
  projects/shared/src/lib/steps/migrate/migrate.ts
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.ts
Due: unittests, e2etests

Integrate migration resolver and enhance routing for migration steps
  projects/flock-mirage/src/app/app.config.ts
  projects/flock-mirage/src/app/app.routes.ts
  projects/shared/src/lib/route/index.ts
  projects/shared/src/lib/route/resolver/migrate-run-resolver.ts
  projects/shared/src/lib/router-splash/router-splash.ts
  projects/shared/src/lib/services/interfaces/migration.ts
  projects/shared/src/lib/services/migration.ts
  projects/shared/src/lib/step-navigation/step-navigation.html
  projects/shared/src/lib/step-navigation/step-navigation.ts
  projects/shared/src/lib/steps/migrate/migrate.html
  projects/shared/src/lib/steps/migrate/migrate.ts
Due: unittests, e2etests

Enhance migration completion step with summary component and UI updates
  projects/shared/src/lib/route/resolver/migrate-run-resolver.ts
  projects/shared/src/lib/services/migration.ts
  projects/shared/src/lib/steps/complete/complete.html
  projects/shared/src/lib/steps/complete/complete.ts
  projects/shared/src/lib/steps/complete/completion-summary/completion-summary.css
  projects/shared/src/lib/steps/complete/completion-summary/completion-summary.html
  projects/shared/src/lib/steps/complete/completion-summary/completion-summary.spec.ts
  projects/shared/src/lib/steps/complete/completion-summary/completion-summary.ts
Due: unittests, e2etests

Enhance migration tests with mock services and improved configurations
  projects/shared/src/lib/router-splash/router-splash.spec.ts
  projects/shared/src/lib/steps/migrate/migrate.spec.ts
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.spec.ts
  projects/shared/src/lib/steps/migrate/progress-panel/progress-panel.spec.ts
Due: unittests, e2etests

Enhance migration routing and resolvers for improved state management
  docs/ARCHITECTURE.md
  docs/architecture/shared/ROUTING.md
  projects/flock-mirage/src/app/app.routes.ts
  projects/shared/src/lib/route/index.ts
  projects/shared/src/lib/route/resolver/logger-instrumentation-resolver.ts
  projects/shared/src/lib/route/resolver/migrate-run-resolver.ts
  projects/shared/src/lib/route/resolver/migration-reset-resolver.ts
  projects/shared/src/lib/router-splash/router-splash.ts
  projects/shared/src/lib/services/interfaces/migration.ts
  projects/shared/src/lib/services/migration.ts
  projects/shared/src/lib/steps/migrate/migrate.ts
Due: unittests, e2etests

update cursor rules matching config
  .cursor/rules/component-architecture-state-management.mdc
  .cursor/rules/development-guide-phase1.mdc
  .cursor/rules/mdc-theming-rules.mdc
Due: none

Refactor navigation guard scenarios and enhance file upload validation
  features/navigation-guard.feature
  features/pageobjects/landing.page.ts
  features/pageobjects/navigation-guard.page.ts
  features/step-definitions/file-upload.ts
  projects/shared/src/lib/route/guards/upload-valid-guard.spec.ts
Due: unittests, e2etests

Add fail-fast option to sharded test runner
  run-sharded-tests.sh
Due: none

Update navigation guard scenarios to skip tests due to E2E issues
  features/navigation-guard.feature
Due: none

fix linter errors
  features/pageobjects/step-layout.page.ts
  projects/shared/src/lib/steps/migrate/preflight-summary/preflight-summary.ts
Due: unittests, e2etests

Enhance landing page and add licenses component
  README.md
  projects/shared/src/lib/landing-page/landing-page.css
  projects/shared/src/lib/landing-page/landing-page.html
  projects/shared/src/lib/licenses/licenses.css
  projects/shared/src/lib/licenses/licenses.html
  projects/shared/src/lib/licenses/licenses.spec.ts
  projects/shared/src/lib/licenses/licenses.ts
  projects/shared/src/lib/steps/complete/complete.css
  projects/shared/src/lib/steps/complete/complete.html
Due: unittests, e2etests

Fix splash screen overlay to completely hide content (#48)
  projects/shared/src/lib/services/splash-screen-loading.ts
  projects/shared/src/lib/splash-screen/splash-screen.scss
Due: unittests, e2etests

Enhance routing and header components
  projects/flock-mirage/src/app/app.routes.ts
  projects/flock-murmur/src/app/app.routes.ts
  projects/flock-native/src/app/app.routes.ts
  projects/flock-native/src/app/components/migration-progress/migration-progress.component.html
  projects/shared/src/lib/header/header.html
  projects/shared/src/lib/header/header.spec.ts
  projects/shared/src/lib/index.ts
Due: unittests, e2etests

Add Butterfly Animation Component
  projects/shared/src/lib/butterfly/butterfly.html
  projects/shared/src/lib/butterfly/butterfly.scss
  projects/shared/src/lib/butterfly/butterfly.spec.ts
  projects/shared/src/lib/butterfly/butterfly.ts
  projects/shared/src/lib/index.ts
  projects/shared/src/lib/licenses/licenses.css
  projects/shared/src/lib/licenses/licenses.html
  projects/shared/src/lib/licenses/licenses.ts
  projects/shared/src/lib/splash-screen/splash-screen.html
  projects/shared/src/lib/splash-screen/splash-screen.scss
  projects/shared/src/lib/splash-screen/splash-screen.ts
Due: unittests, e2etests

Refactor Licenses Page Layout and Styles
  projects/shared/src/lib/licenses/licenses.css
  projects/shared/src/lib/licenses/licenses.html
Due: unittests, e2etests

Add Support Page Component and Update Routing
  projects/flock-mirage/src/app/app.routes.ts
  projects/flock-murmur/src/app/app.routes.ts
  projects/flock-native/src/app/app.routes.ts
  projects/shared/src/lib/header/header.html
  projects/shared/src/lib/index.ts
  projects/shared/src/lib/licenses/licenses.html
  projects/shared/src/lib/support/support.css
  projects/shared/src/lib/support/support.html
  projects/shared/src/lib/support/support.spec.ts
  projects/shared/src/lib/support/support.ts
Due: unittests, e2etests

45 add attributions and licensing (#51)
  README.md
  projects/flock-mirage/src/app/app.routes.ts
  projects/flock-murmur/src/app/app.routes.ts
  projects/flock-native/src/app/app.routes.ts
  projects/flock-native/src/app/components/migration-progress/migration-progress.component.html
  projects/shared/src/lib/butterfly/butterfly.html
  projects/shared/src/lib/butterfly/butterfly.scss
  projects/shared/src/lib/butterfly/butterfly.spec.ts
  projects/shared/src/lib/butterfly/butterfly.ts
  projects/shared/src/lib/header/header.html
  projects/shared/src/lib/header/header.spec.ts
  projects/shared/src/lib/index.ts
  projects/shared/src/lib/landing-page/landing-page.css
  projects/shared/src/lib/landing-page/landing-page.html
  projects/shared/src/lib/licenses/licenses.css
  projects/shared/src/lib/licenses/licenses.html
  projects/shared/src/lib/licenses/licenses.spec.ts
  projects/shared/src/lib/licenses/licenses.ts
  projects/shared/src/lib/splash-screen/splash-screen.html
  projects/shared/src/lib/splash-screen/splash-screen.scss
  projects/shared/src/lib/splash-screen/splash-screen.ts
  projects/shared/src/lib/steps/complete/complete.css
  projects/shared/src/lib/steps/complete/complete.html
  projects/shared/src/lib/support/support.css
  projects/shared/src/lib/support/support.html
  projects/shared/src/lib/support/support.spec.ts
  projects/shared/src/lib/support/support.ts
Due: unittests, e2etests

feat: Add StepHeader component and integrate into StepLayout
  projects/shared/src/lib/index.ts
  projects/shared/src/lib/step-header/step-header.css
  projects/shared/src/lib/step-header/step-header.html
  projects/shared/src/lib/step-header/step-header.spec.ts
  projects/shared/src/lib/step-header/step-header.ts
  projects/shared/src/lib/step-layout/step-layout.html
  projects/shared/src/lib/step-layout/step-layout.ts
  projects/shared/src/lib/steps/auth/auth.html
  projects/shared/src/lib/steps/complete/complete.html
  projects/shared/src/lib/steps/config/config.html
  projects/shared/src/lib/steps/migrate/migrate.html
  projects/shared/src/lib/steps/upload/upload.html
Due: unittests, e2etests

Path conditions:
  unittests: any of: projects/shared/src/
  e2etests: any of: projects/flock-mirage/src/, projects/shared/src/
